@import "variables";


/*-------- NAV-PILLS--------*/

.nav-pills .nav-link.active {
	background: $color-orange !important;
	color: #fff !important;
	i {
		float: right;
		padding: .3rem;
	}
}

.nav-pills .nav-link {
	color: $color-orange !important;
	transition: all .5s;
}

.nav-pills .nav-link:hover {
	font-weight: bold !important;
}

.col-lg-3 {
	padding: 0 !important;
}

@media all and (max-width: 575px) {
	img.float-right {
		float: none !important;
	}

	.col-sm-3 {
		display: flex;
		justify-content: center;
	}
}

@media all and (max-width: 991px) {
	.col-lg-9 {
		margin-top: 1rem;
	}
}


/*---------MAP----------*/
.map {
	overflow: hidden;
}

.map__image path {
	fill: #757575;
	stroke: #fff;
	stroke-width: 0.1rem;
	transition: fill 0.3s;
}

.map__image .is-active path {
	fill: $color-orange;
}

.map__list a {
	color: inherit;
	text-decoration: none;
	transition: color 0.3s;
}

.map__list a.is-active {
	color: $color-orange;
}

.list-group-item {
	padding: .3rem 1rem !important;
}
// Pas de liste sur les petits écrans
@media all and (max-width: 991px) {
	.map__list ul {
		display: none;
	}
}





